
html,body{
    hight: 100%;    /*高さを100％に設定*/
}

body{
    margin: 0;
    padding: 0;
    positiion: relative;
    min-width: 600px;   /*中央配置するボックスの横幅*/
    min-height: 400px;  /*中央配置するボックスの縦幅*/
    background-color: black;
}

.bgmovie {
    z-index: -99;
    opacity: 0.9;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.bgmovie iframe {
    position: absolute;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sns {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
    text-align: right;
}

.overlay {
  position: fixed;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  width: 100%;
  height: 100%;
  background-image: url("./assets/overlay.png");
}

.centerMiddle{
    margin: -200px 0 0 -300px;  /*縦横半分をネガティブマージンでずらす*/
    position: absolute;     /*body要素に対して絶対配置*/
    top: 50%;       /*上端を中央に*/
    left: 50%;      /*左端を中央に*/
    width: 600px;   /*横幅*/
    height: 400px;  /*縦幅*/
}

/*start*/
.text {
  padding-left: 64px;
  padding-bottom: 10px;
}

.logo {
  text-align: center;
  padding-bottom: 26px;
}

.button{
  background-color: transparent;
  border-color: transparent;
  outline: 0;
}

.center{
 text-align: center;
}

/*quiz*/
.questionBackground {
    background-color: rgba(0,0,0,0.6);
    border: 2px solid #FFF;
    margin: -250px 0 0 -400px;  /*縦横半分をネガティブマージンでずらす*/
    position: absolute;     /*body要素に対して絶対配置*/
    top: 50%;       /*上端を中央に*/
    left: 50%;      /*左端を中央に*/
    width: 800px;   /*横幅*/
    height: 500px;  /*縦幅*/
}

.questionText {
    width: 80%;
    height: 35%;
    margin: 0 auto;
    padding-top: 50px;
}

.questionText p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
}

.questionBackground button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #FFF;
    outline: 0;
}

.questionBackground ul {
    list-style-type: upper-alpha;
    font-size: 20px;
    margin-top: 0px;
}

.questionBackground li {
    padding-bottom: 15px;
}

.choiceBox {
    width: 70%;
    margin: 0 auto;
}

.resultBackground {
    background-color: rgba(255,255,255,0.8);
    margin: -300px 0 0 -500px;
    position: absolute;     /*body要素に対して絶対配置*/
    top: 50%;       /*上端を中央に*/
    left: 50%;      /*左端を中央に*/
    width: 1000px;   /*横幅*/
    height: 600px;  /*縦幅*/
}

.sns {
    width: 95%;
    margin: 0 auto;
}

.sns img {
    padding-left: 5px;
    padding-right: 5px;
}

.resultContents {
    padding-top: 37px;
    width: 77%;
    height: 65%;
    margin: 0 auto;
}

.rightBox {
    float: left;
    padding-top: 47px;
}

.leftBox {
    float: left;
    padding-left: 20px;
    padding-bottom: 5px;
    width: 50%;
}

.resultText {
    padding-top: 50px;
    color: black;
    font-size: 35px;
}

/*yanagi*/
.akayanagi {
    color: #9a1110;
}

.aoyanagi {
    color: #1a2a5f;
}

.gureyanagi {
    text-shadow: black 1px 1px 0px, black -1px 1px 0px,black 1px -1px 0px, black -1px -1px 0px;
    color: #8b8b8b;
}

.hoboyanagi {
    color: #7b5a4c;
}

.shiroyanagi {
    text-shadow: black 1px 1px 0px, black -1px 1px 0px,black 1px -1px 0px, black -1px -1px 0px;
    color: white;
}

.momoyanagi {
    color: #b42878;
}

.kinyanagi {
    color: #79631c;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
    .questionBackground {
        background-color: rgba(0,0,0,0.6);
        border: 2px solid #FFF;
        margin: -600px 0 0 -450px;  /*縦横半分をネガティブマージンでずらす*/
        position: absolute;     /*body要素に対して絶対配置*/
        top: 50%;       /*上端を中央に*/
        left: 50%;      /*左端を中央に*/
        width: 900px;   /*横幅*/
        height: 1200px;  /*縦幅*/
    }

    .questionText {
        width: 80%;
        height: 35%;
        margin: 0 auto;
        padding-top: 40px;
    }

    .questionText p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 40px;
    }

    .questionBackground button {
        background-color: transparent;
        border: none;
        font-size: 35px;
        color: #FFF;
        outline: 0;
    }

    .questionBackground ul {
        list-style-type: upper-alpha;
        font-size: 35px;
        margin-top: 0px;
    }

    .questionBackground li {
        padding-bottom: 70px;
    }

    .choiceBox {
        width: 70%;
        margin: 0 auto;
        padding-top: 30px;
    }

}
